@charset "UTF-8";

#calculadora{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(49, 49, 172);
    padding: 100px;
}

body{
    background-color: blueviolet;
}

.visor{
    position: absolute;
    top: 30px;
    left: 16%;
    width: 64%;
    padding: 10px;
    height: 30px;
}

.btn{
    padding: 50px;
    width: 30px;
}

li{
    list-style: none;
}
ul{
    padding: 0px;
}