body{
    background-color: dodgerblue;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}


.modal{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50vw;
    padding: 30px;
    background-color: white;
    text-align: center;
}

.container{
    width: 50vw;
    position: fixed;
    top: 30%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: none;
}

span{
    margin: 10px auto;
    text-align: justify;
    padding: 10px;
}

.abrir{
    padding: 30px;
    display: flex;
}

.fechar{
    background-color: rgb(48, 48, 243);
    color: white;
    padding: 15px;
    border-radius: 10px;
}